#container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 800px;
  height: 800px;
}

.gridSquares {
  border-style: dotted;
  border-width: .5px;
}