:root {
  --sides: 16;
}

#container {
  display: grid;
  grid-template-columns: repeat(var(--sides), 1fr);
  grid-template-rows: repeat(var(--sides), 1fr);
  width: 800px;
  height: 800px;
}

.gridSquares {
  border-style: dotted;
  border-width: .5px;
}

.hovering {
  background-color: blue;
}